<!DOCTYPE HTML>
<html>
    <head>
        <title>vue-mixin</title>
        <meta charset="utf-8" />
        <link href="./index.css" type="text/css" rel="stylesheet" />
        <style>
        
        </style>
    </head>
    <body>
        <div id="root">
            <blog></blog>
        </div>
    </body>
    <script src="../../js/vue.js"></script>
    <script src="../../js/jquery-1.11.2.min.js"></script>
    <script src="./index.js"></script>
    <script src="./components/blog.js"></script>
    <script>
        // 全局混入
        Vue.mixin({
            mounted: function() {
                console.log("global mixin mounted");
            }
        });
        var vm = new Vue({
            el: '#root',
            data: {

            },
        });
        console.log(vm);
        console.log(Vue.config.optionMergeStrategies);
        
    </script>
</html>